<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dm.facosallerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacoSallerApp">
        <activity
            android:name=".activity.AddLabInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PatientHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LabAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PatientFeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SetAvailabilityActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LabProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.FacoSallerApp.NoActionBar" />
        <activity
            android:name=".activity.TestInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PhoneAuthActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SellerRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>